@section scripts{
    @Scripts.Render("~/Scripts/DBConTemplate/CreateData.js")

    <script type="text/javascript">
        $(function () {
            var auth = sessionStorage.getItem("auth");
            if (auth != 1) {
                window.location.href = "../Login/Login";
            }
        });
    </script>
}

<h2>新規作成</h2>

<table class="table">
    <thead class=" thead-dark text-center">
        <tr>
            <th scope="col">企業名</th>
            <th scope="col">企業URL</th>
            <th scope="col">状態</th>
            <th scope="col">担当者</th>
            <th scope="col">備考</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="pt-1"><span class="badge badge-danger">*</span><input type="text" id="companyName" class="form-control"></td>
            <td class="pt-1"><span class="badge badge-danger">*</span><input type="text" id="companyUrl" class="form-control"></td>
            <td style="padding-top: 28px;">
                <select id="status" class="form-control">
                    <option selected>未対応</option>
                    <option>連絡済み</option>
                    <option>交渉中</option>
                    <option>確定</option>
                    <option>不可</option>
                </select>
            </td>
            <td style="padding-top: 28px;">
                <select id="charge" class="form-control">
                    <option value='' disabled selected style='display:none;'>選択してください</option>
                    <option value="成清">成清</option>
                    <option value="山田">山田</option>
                    <option value="高木">高木</option>
                    <option value="鈴木">鈴木</option>
                </select>
            </td>
            <td style="padding-top: 28px;"><input type="text" id="note" class="form-control"></td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <button type="button" class="btn btn-primary" onclick="toList()">戻る</button>
    <button type="button" class="btn btn-primary" id="submit" onclick="submitData()">登録</button>
</div>

