nav.cp_navi *, nav.cp_navi *:after, nav.cp_navi *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav.cp_navi a {
    text-decoration: none;
}

nav.cp_navi {
    margin: 2em 0;
    text-align: center;
}

.cp_navi .cp_pagination {
    display: inline-block;
    height: 70px;
    margin-top: 2em;
    padding: 0 25px;
    border-radius: 35px;
    background-color: #eeeeee;
}

.cp_navi .cp_pagenum {
    font-size: 1.2em;
    line-height: 70px;
    display: block;
    float: left;
    padding: 0 25px;
    transition: 400ms ease;
    letter-spacing: 0.1em;
    color: #595959;
}

    .cp_navi .cp_pagenum:hover,
    .cp_navi .cp_pagenum.current {
        color: #ffffff;
        background-color: #00BCD4;
    }

    .cp_navi .cp_pagenum.prev:hover,
    .cp_navi .cp_pagenum.next:hover {
        color: #00BCD4;
        background-color: transparent;
    }

@media only screen and (max-width: 960px) {
    .cp_navi .cp_pagination {
        height: 50px;
        margin-top: 50px;
        padding: 0 10px;
        border-radius: 25px;
    }

    .cp_navi .cp_pagenum {
        font-size: 0.8em;
        line-height: 50px;
        padding: 0 15px;
    }

        .cp_navi .cp_pagenum.prev,
        .cp_navi .cp_pagenum.next {
            padding: 0 10px;
        }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
    .cp_navi .cp_pagenum {
        display: none;
        padding: 0 14px;
    }

        .cp_navi .cp_pagenum:nth-of-type(2) {
            position: relative;
            padding-right: 50px;
        }

            .cp_navi .cp_pagenum:nth-of-type(2)::after {
                font-size: 1.2em;
                position: absolute;
                top: 0;
                left: 45px;
                content: '...';
            }

        .cp_navi .cp_pagenum:nth-child(-n+3),
        .cp_navi .cp_pagenum:nth-last-child(-n+3) {
            display: block;
        }

        .cp_navi .cp_pagenum:nth-last-child(-n+4) {
            padding-right: 14px;
        }

            .cp_navi .cp_pagenum:nth-last-child(-n+4)::after {
                content: none;
            }

        .cp_navi .cp_pagenum.prev,
        .cp_navi .cp_pagenum.next {
            padding: 0 5px;
        }
}

/* その2  */
.pager .pagination {
    text-align: center;
}

    .pager .pagination li {
        display: inline;
        margin: 0 2px;
        padding: 0;
        display: inline-block;
        background: #9D50BB;
        width: 50px;
        height: 50px;
        text-align: center;
        position: relative;
        border-radius: 10px;
    }


        .pager .pagination li a {
            vertical-align: middle;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            display: table;
            color: #fff;
            text-decoration: none;
        }

            .pager .pagination li a span {
                display: table-cell;
                vertical-align: middle;
            }

            .pager .pagination li a:hover,
            .pager .pagination li a.active {
                color: #000;
                background: #ccf;
                border-radius: 10px;
            }

@media only screen and (max-width: 767px) {
    .pager .pagination li {
        display: none;
    }

        .pager .pagination li.pre,
        .pager .pagination li.next {
            display: inline-block;
            width: 40%;
            height: 50px;
            text-align: center;
        }

            .pager .pagination li.pre a,
            .pager .pagination li.next a {
                width: 100%;
                text-align: center;
            }

            .pager .pagination li.pre span::after {
                content: "　前の10件へ";
            }

            .pager .pagination li.next span::before {
                content: "次の10件へ　";
            }
}

.hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 13px;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
}

    .hamburger span {
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 6px;
        background: #555;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

        .hamburger span:nth-child(1) {
            top: 10px;
        }

        .hamburger span:nth-child(2) {
            top: 20px;
        }

        .hamburger span:nth-child(3) {
            top: 30px;
        }

    /* ナビ開いてる時のボタン */
    .hamburger.active span:nth-child(1),
    .hamburger.active span:nth-child(3) {
        width: 14px;
    }

    .hamburger.active span:nth-child(1) {
        -webkit-transform: translate(-1px,5px) rotate(-45deg);
        -moz-transform: translate(-1px,5px) rotate(-45deg);
        transform: translate(-1px,5px) rotate(-45deg);
    }

    .hamburger.active span:nth-child(3) {
        -webkit-transform: translate(-1px,-5px) rotate(45deg);
        -moz-transform: translate(-1px,-5px) rotate(45deg);
        transform: translate(-1px,-5px) rotate(45deg);
    }

nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 78%;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    width: 22%;
}

    nav.globalMenuSp ul {
        background: #ccc;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

        nav.globalMenuSp ul li {
            list-style-type: none;
            padding: 0;
            width: 100%;
            border-bottom: 1px solid #fff;
        }

            nav.globalMenuSp ul li:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }

            nav.globalMenuSp ul li:hover {
                background: #ddd;
            }

            nav.globalMenuSp ul li a {
                display: block;
                color: #000;
                padding: 1.4em 0;
                text-decoration: none;
            }

    nav.globalMenuSp.active {
        transform: translateX(0%);
    }

.main-menu .menu-block {
    text-align: center;
    cursor: pointer;
}

    .main-menu .menu-block:hover {
        -webkit-transition: .5s ease;
        transition: .5s ease;
    }

        .main-menu .menu-block:hover > .menu-line {
            width: 100%;
            -webkit-transition: .5s ease;
            transition: .5s ease;
        }

    .main-menu .menu-block img {
        max-width: 7rem;
        max-height: 7rem;
        pointer-events: none;
    }

    .main-menu .menu-block .menu-line {
        background: #696969;
        height: 0.2rem;
        width: 0;
        margin-left: auto;
        margin-right: auto;
    }

.linking-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.bcg-mat {
    background: rgba(220,220,220,0.55);
    position: relative;
    padding-top: 1.3rem;
}

    .bcg-mat:hover {
        background: rgba(220,220,220,0.85);
        position: relative;
        padding-top: 1.3rem;
    }


.loader {
    position: fixed;
    top: 30%;
    right: 47%;
    color: #4682b4;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    z-index: 5000;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
